<div class="col-md-12" >

<button class="btn btn-default" id="range_div_toggle"> <i class="fa fa-bars"></i></button>
<div id="range_div" style="display:none">    
<b style="color:whitesmoke" >Fluo intensity range:</b>
<input type="text" id="range_cnt_red" name="" value="" />
<input type="text" id="range_cnt_green" name="" value="" />
<input type="text" id="range_cnt_blue" name="" value="" />
<b style="color:whitesmoke">Gamma:</b>
<input type="text" id="range_gam" name="" value="" />
<br>
<input type="button" class="btn btn-primary" id="resamp" (click) = "resample()" value="Resample" />
<input type="button" class="btn btn-primary" id="resampdefault" (click) = "default()" value="Default" />
</div>
 <b style="color:#666600" >Nissl opacity:</b>
<input type="text" id="range_transparency_nissl" name="" value=""/>
<b style="color:#666600" >Fluo opactiy:</b>
<input type="text" id="range_transparency_fluo" name="" value=""/>
<input id = "atlas_toggle" type="checkbox" checked/>
</div>
